@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;

@using SchMod.Models.Active;

@model IEnumerable<SchMod.Models.Active.TransActivity>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/TransAct.js"></script>

<h4>Activities Log</h4>

<div class="row">
    <div class="form-group col-md-1">
        <label class="e-name">
            Class
        </label>
    </div>
    <div class="form-group col-md-2">
        <ejs-dropdownlist id="selectClsses" select="changeClsses" datasource="(IEnumerable<string>)ViewBag.clsses">
        </ejs-dropdownlist>
    </div>
    <div class="form-group col-md-1"></div>
    <div class="form-group col-md-2">
        <label class="e-name">
            Activity Group
        </label>
    </div>
    <div class="form-group col-md-2">
        <ejs-dropdownlist id="selectActGrps" select="changeActGrps" datasource="(IEnumerable<string>)ViewBag.ActGrps">
        </ejs-dropdownlist>
    </div>
    <div class="form-group col-md-1"></div>
    <div class="form-group col-md-2">
        <label class="e-name">
            Activity Date
        </label>
    </div>
    <div class="form-group col-md-2">
        <ejs-datepicker id="selectActDate" select="changeActDate" Value="ViewBag.ActDate">
        </ejs-datepicker>
    </div>

</div>
<div>
    <ejs-grid id="TransActGrid" cellSelecting="true" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() {"Edit","Update","Cancel","Search" })" enableAltRow="true">
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="transActId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="transActName" headerText="Activity" type="string" width="120"></e-grid-column>
            <e-grid-column field="rollNumber" headerText="Roll" width="150"></e-grid-column>
            <e-grid-column field="regNumber" headerText="Reg" width="150"></e-grid-column>
            <e-grid-column field="stdName" headerText="Name" width="150"></e-grid-column>
            <e-grid-column field="transActName" headerText="Activity" width="150" editType="dropdownedit" edit="@(new {@params = new{dataSource = ViewBag.dropdownTeacher, fields= new {text= "Text", value= "Value"}}})"></e-grid-column>
            <e-grid-column field="commit" headerText="Save"  editType="booleanedit" displayAsCheckBox="true" type="boolean" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
