@model SchMod.Models.Convey.Stops

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Stops</h4>
<hr />
<div class="row">
    <div class="form-group col-md-9">
        @ViewBag.Remark;
        <br />
    </div>
</div>
<        <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AutoId" />

     @*<div class="row">
        <div class="form-group col-md-3">
            <label asp-for="ConveyanceMode" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="ConveyanceMode" class="form-control" />
            <span asp-validation-for="ConveyanceMode" class="text-danger"></span>
        </div>
    </div>*@
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="stops1" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="stops1" class="form-control" />
            <span asp-validation-for="stops1" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="circuit" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="circuit" class="form-control" />
            <span asp-validation-for="circuit" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="monthlyFare" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="monthlyFare" class="form-control" />
            <span asp-validation-for="monthlyFare" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="fareFromMonth" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="fareFromMonth" class="form-control" />
            <span asp-validation-for="fareFromMonth" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-2 ">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

