@model SchMod.Models.Convey.Stops

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Stops</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutoId" class="control-label"></label>
                <input asp-for="AutoId" class="form-control" />
                <span asp-validation-for="AutoId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StopId" />
            <div class="form-group">
                <label asp-for="ConveyanceMode" class="control-label"></label>
                <input asp-for="ConveyanceMode" class="form-control" />
                <span asp-validation-for="ConveyanceMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stops1" class="control-label"></label>
                <input asp-for="Stops1" class="form-control" />
                <span asp-validation-for="Stops1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Circuit" class="control-label"></label>
                <input asp-for="Circuit" class="form-control" />
                <span asp-validation-for="Circuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyFare" class="control-label"></label>
                <input asp-for="MonthlyFare" class="form-control" />
                <span asp-validation-for="MonthlyFare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FareFromMonth" class="control-label"></label>
                <input asp-for="FareFromMonth" class="form-control" />
                <span asp-validation-for="FareFromMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

