@model SchMod.Models.Active.EnmTransActivity

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EnmTransAcitivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutoId" />
            <div class="form-group">
                <label asp-for="TransActId" class="control-label"></label>
                <input asp-for="TransActId" class="form-control" />
                <span asp-validation-for="TransActId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StdClss" class="control-label"></label>
                <input  asp-for="StdClss" class="form-control" />
                <span asp-validation-for="StdClss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransActDate" class="control-label"></label>
                <input asp-for="TransActDate" type="date" class="form-control" />
                <span asp-validation-for="TransActDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransActGroup" class="control-label"></label>
                <input asp-for="TransActGroup" class="form-control" />
                <span asp-validation-for="TransActGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniReg" class="control-label"></label>
                <input asp-for="UniReg" class="form-control" />
                <span asp-validation-for="UniReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

