@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;

@using SchMod.Models.Basics;
@model IEnumerable<SchMod.Models.Basics.Teachers>
@*<script src="~/js/jquery-3.3.1.js"></script>*@
<script src="~/js/Teachers.js"></script>
@{
    ViewData["Title"] = "Teachers";
}
<h2>Teachers</h2>
<p>
    <a asp-action="Create">Add New Teacher</a>
</p>

<div>
    <ejs-grid id="TeachGrid" allowPaging="true" toolbar="@(new List<string>() {" Edit","Update","Cancel"})" >
        <e-grid-editSettings allowEditing="true" mode="Normal" ></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="teachId" headerText="ID" isPrimaryKey="true" textAlign="Right" visible="false" ></e-grid-column>
            <e-grid-column field="tName" headerText="Name" type="string" width="120"></e-grid-column>
            <e-grid-column field="teachLoginName" headerText="Login Name" width="150"></e-grid-column>
            <e-grid-column field="teachEMail" headerText="E-Mail" width="150"></e-grid-column>
            <e-grid-column field="tTelephone" headerText="Phone" width="150"></e-grid-column>
            @*<e-grid-column field="teachEMail" headerText="Class Teacher" width="150" editType="dropdownedit" edit="@(new {@params = new{dataSource = ViewBag.dropdownTeacher, fields= new {text= " classTeacher", value="classTeacher" }}})"></e-grid-column>*@
        </e-grid-columns>
    </ejs-grid>
</div>




