@model SchMod.Models.Basics.Clss

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Clss</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AutoId" />
        <div class="form-group">
            <label asp-for="ClsName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClsName" class="form-control" />
                <span asp-validation-for="ClsName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClassTeacher" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClassTeacher" class="form-control" />
                <span asp-validation-for="ClassTeacher" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StdStrength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StdStrength" class="form-control" />
                <span asp-validation-for="StdStrength" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BoardCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BoardCode" class="form-control" />
                <span asp-validation-for="BoardCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClssNum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClssNum" class="form-control" />
                <span asp-validation-for="ClssNum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
