@model SchMod.Models.Active.Attendance

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AttId" class="control-label"></label>
                <input asp-for="AttId" class="form-control" />
                <span asp-validation-for="AttId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniReg" class="control-label"></label>
                <input asp-for="UniReg" class="form-control" />
                <span asp-validation-for="UniReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNum" class="control-label"></label>
                <input asp-for="RegNum" class="form-control" />
                <span asp-validation-for="RegNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clss" class="control-label"></label>
                <input asp-for="Clss" class="form-control" />
                <span asp-validation-for="Clss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtType" class="control-label"></label>
                <input asp-for="AtType" class="form-control" />
                <span asp-validation-for="AtType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttDate" class="control-label"></label>
                <input asp-for="AttDate" class="form-control" />
                <span asp-validation-for="AttDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cause" class="control-label"></label>
                <input asp-for="Cause" class="form-control" />
                <span asp-validation-for="Cause" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcaSession" class="control-label"></label>
                <input asp-for="AcaSession" class="form-control" />
                <span asp-validation-for="AcaSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dormant" class="control-label"></label>
                <input asp-for="Dormant" class="form-control" />
                <span asp-validation-for="Dormant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModTime" class="control-label"></label>
                <input asp-for="ModTime" class="form-control" />
                <span asp-validation-for="ModTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTerminal" class="control-label"></label>
                <input asp-for="CTerminal" class="form-control" />
                <span asp-validation-for="CTerminal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DBid" class="control-label"></label>
                <input asp-for="DBid" class="form-control" />
                <span asp-validation-for="DBid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

