@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;

@using SchMod.ViewModels.StdFees;

@model SchMod.ViewModels.StdFees.FeeForm
@{
    ViewData["Title"] = "Fee Details";
}
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/FeeSumm.js"></script>
<script>
    var fRegNo = @Model.RegNo;
</script>
<h2>Fee Details</h2>
<div class="row">
    <div class="form-group col-md-3">
        <label asp-for="RegNo" class="control-label"></label>
    </div>
    <div class="form-group col-md-4">
        <input asp-for="RegNo" readonly="readonly" class="form-control" />
        <span asp-validation-for="RegNo" class="text-danger"></span>
    </div>
</div>

<div>
    <div>
        <ejs-grid id="feeSummGrid" >
            <e-grid-columns>
                <e-grid-column field="FeeId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
                <e-grid-column field="Sn" headerText="Sl.No." type="string" width="120"></e-grid-column>
                <e-grid-column field="DueOn" headerText="Due On" type="date" format="yMd" width="150"></e-grid-column>
                <e-grid-column field="Amount" headerText="Amount" width="150"></e-grid-column>
                <e-grid-column field="ReceiptNo" headerText="Receipt No." width="150"></e-grid-column>
                <e-grid-column field="FeeCaption" headerText="Caption/Name" width="150"></e-grid-column>
                <e-grid-column field="IsPaid" headerText="Paid" width="150"></e-grid-column>
                <e-grid-column field="Remarks" headerText="Remarks" width="150"></e-grid-column>
                <e-grid-column field="ForMonth" headerText="ForMonth" visible="false" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

        @*col.Field("feeId").HeaderText("ID").IsPrimaryKey(true).TextAlign(TextAlign.Left).AllowEditing(false).ShowInColumnChooser(false).Visible(false).Add();
        col.Field("sn").HeaderText("Sn.").AllowEditing(false).ShowInColumnChooser(false) .Visible(true).Add();
        col.Field("dueOn").Format("{0:MM/yyyy}").HeaderText("Due On").AllowEditing(false).ShowInColumnChooser(true).Visible(true).Add();
        //col.Field("forMonth").HeaderText("Due On").AllowEditing(false).ShowInColumnChooser(true).Visible(true).Add();
        col.Field("amount").HeaderText("Amount").AllowEditing(false).ShowInColumnChooser(true).Visible(true).Add();
        col.Field("receiptNo").HeaderText("ReceiptNo").AllowEditing(false).ShowInColumnChooser(true).Visible(true).Add();
        col.Field("feeCaption").HeaderText("Caption").AllowEditing(false).ShowInColumnChooser(true).Visible(true).Add();
        col.Field("isPaid").HeaderText("IsPaid").AllowEditing(false).ShowInColumnChooser(true).Visible(true).Add();
        col.Field("remarks").HeaderText("Remarks").AllowEditing(false).AllowTextWrap(true).ShowInColumnChooser(true).Visible(true).Add();*@
</div>