@using SchMod.ViewModels.StdFees;

@model SchMod.ViewModels.StdFees.FeeSumm

<script src="@Url.Content("~/js/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/js/StdFees.js")"></script>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="gridtable">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td></td>
            <td>
                <div>
                    @*<ej-drop-down-list id="selectSession" width="150px" height="30px" select="changeSession" datasource="(IEnumerable<string>)ViewBag.dropdownSession">
                        </ej-drop-down-list>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @*<input type="text" id="txt_StdName" value="@Model.StdName" />*@
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                @{Html.EJ().Grid<FeeSumm>("feeSummGrid")
                                  .AllowPaging()
                                  .ClientSideEvents(eve => { eve.ActionBegin("begin"); })
                                        .PageSettings(paging =>
                                        {
                                            paging.PageSize(10);
                                        })
                                        .ToolbarSettings(toolbar =>
                                        {
                                            toolbar.ShowToolbar().ToolbarItems(items =>
                                            {
                                                items.AddTool(ToolBarItems.Add);
                                                items.AddTool(ToolBarItems.Edit);
                                                items.AddTool(ToolBarItems.Delete);
                                                items.AddTool(ToolBarItems.Update);
                                                items.AddTool(ToolBarItems.Cancel);
                                            });
                                        })
                                        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.Normal); })
                                        .Columns(col =>
                                        {
                                            col.Field("feeId").HeaderText("ID").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(75).Add();
                                            col.Field("sn").HeaderText("Sn.").Width(80).Add();
                                            col.Field("forMonth").HeaderText("Class Teacher").Width(80).Add();
                                        }).Render();
                }
            </td>
        </tr>
        <tr>
            <td>
                <div class="button">
                    <ej-button id="btnStore" size="@ButtonSize.Medium" click="btnClick" text="Class Store" />
                    @*create="hidebutton"*@
                </div>
            </td>
        </tr>
    </table>
</div>

