@using SchMod.ViewModels.StdFees;

@model SchMod.ViewModels.StdFees.FeeSumm

<script src="@Url.Content("~/js/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/js/StdFees.js")"></script>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="gridtable">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td></td>
            <td>
                <div>
                    @*<ej-drop-down-list id="selectSession" width="150px" height="30px" select="changeSession" datasource="(IEnumerable<string>)ViewBag.dropdownSession">
                        </ej-drop-down-list>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @*<input type="text" id="txt_StdName" value="@Model.StdName" />*@
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                <ejs-grid id="feeSummGrid" cellSelecting="true" allowPaging="false" allowSorting="false" allowFiltering="true" enableAltRow="true">
                    <e-grid-columns>
                        <e-grid-column field="FeeId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
                        <e-grid-column field="Sn" headerText="Sl.No." type="string" width="120"></e-grid-column>
                        <e-grid-column field="ForMonth" format="" headerText="For Month" width="150"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </td>
        </tr>
        <tr>
            <td>
                <div class="button">
                    <ej-button id="btnStore" click="btnClick" text="Class Store" />
                    @*create="hidebutton"*@
                </div>
            </td>
        </tr>
    </table>
</div>

