@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;
@using SchMod.Models.StdFees;

@model IEnumerable<SchMod.Models.StdFees.Fcaption>

@{
    ViewData["Title"] = "Fee Captions/Names";
}

<h2>Fee Captions/Names/Heads</h2>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/fcaps.js"></script>

<p>
    <a asp-action="Create">New Fee Captions/Names</a>
</p>
<div>
    <ejs-grid id="fCapGrid" cellSelecting="true" toolbar="@(new List<string>() {" Edit","Update","Cancel" })" enableAltRow="true">
        <e-grid-editSettings allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>

        <e-grid-columns>
            <e-grid-column field="FeeNameId" headerText="ID" isPrimaryKey="true" visible="false" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="FeeCaption" headerText="Caption/Label" type="string" width="120"></e-grid-column>
            <e-grid-column field="FeeOrder" headerText="Fee Order" width="150"></e-grid-column>
            <e-grid-column field="ShowIt" headerText="ShowIt" width="150" displayAsCheckBox="true" textAlign="Center" editType="booleanedit"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

</div>
<p>
    To Edit Double Click the relevant row
</p>

