@using Syncfusion.EJ2;
@using Syncfusion.Data;
@using SchMod.Models.Basics;
@model IEnumerable<SchMod.Models.Basics.AcaSession>

<script src="~/js/AcaSessions.js"></script>

@{
    ViewData["Title"] = "Academic Sessions";
}

<h2>Academic Sessions</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <ejs-grid id="AcaSessGrid" toolbar="@(new List<string>() {"Edit", "Update", "Cancel" })">
        <e-grid-editSettings allowEditing="true" mode="Normal"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="Ssdid" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="SessionName" headerText="Name" type="string" width="120"></e-grid-column>
            <e-grid-column field="SessionStartDate" headerText="Start Date" editType="datepickeredit" format = "yMd" textAlign="Right" width="120"></e-grid-column>
            <e-grid-column field="SessionEndDate" headerText="End Date" editType="datepickeredit"  format="yMd" textAlign="Right"   width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

