@model SchMod.Models.StdFees.DynaFee

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DynaFee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutoId" class="control-label"></label>
                <input asp-for="AutoId" class="form-control" />
                <span asp-validation-for="AutoId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ClsFeeId" />
            <div class="form-group">
                <label asp-for="FeeNo" class="control-label"></label>
                <input asp-for="FeeNo" class="form-control" />
                <span asp-validation-for="FeeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForMonth" class="control-label"></label>
                <input asp-for="ForMonth" class="form-control" />
                <span asp-validation-for="ForMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeCaption" class="control-label"></label>
                <input asp-for="FeeCaption" class="form-control" />
                <span asp-validation-for="FeeCaption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayByDate" class="control-label"></label>
                <input asp-for="PayByDate" class="form-control" />
                <span asp-validation-for="PayByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForClass" class="control-label"></label>
                <input asp-for="ForClass" class="form-control" />
                <span asp-validation-for="ForClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StdCategory" class="control-label"></label>
                <input asp-for="StdCategory" class="form-control" />
                <span asp-validation-for="StdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueOn" class="control-label"></label>
                <input asp-for="DueOn" class="form-control" />
                <span asp-validation-for="DueOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

