@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;
@using SchMod.Models.StdFees;
@model IEnumerable<SchMod.Models.StdFees.StdFeeCat>

    @{
    ViewData["Title"] = "Fee Category";
    }
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/StdFeeCats.js"></script>

    <h2>Fee Category</h2>

    <p>
        <a asp-action="Create">Create New Fee Category</a>
    </p>

    <div>
        <ejs-grid id="CatGrid" cellSelecting="true" toolbar="@(new List<string>() {" Edit","Update","Cancel" })" enableAltRow="true">
            <e-grid-editSettings allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="StdFeeCatId" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
                <e-grid-column field="StdFeeCategory" headerText="Fee Category" type="string" width="120"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
<p>To Edit Double click the row you want to Edit</p>
