@using Syncfusion.EJ2.Grids;
@using Syncfusion.Data;
@using SchMod.Models.Basics;
@model IEnumerable<SchMod.Models.Basics.Subjects>

@{
    ViewData["Title"] = "Subject Index";
}
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/Subjects.js"></script>

<hr />
<p>
    <a asp-action="Create">Create New Subject</a>
</p>

<div class="row">
    <div class="form-group col-md-3">
        <label class="e-name">
            Select Class
        </label>
    </div>
    <div class="form-group col-md-4">
        <ejs-dropdownlist id="selectClsses" width="150px" height="30px" select="changeClsses" datasource="(IEnumerable<string>)ViewBag.clsses">
        </ejs-dropdownlist>
        @*<ejs-combo-box id="selectClsses" width="150px" height="30px" select="changeClsses" datasource="(IEnumerable<string>)ViewBag.clsses">
            </ejs-combo-box>*@
    </div>
</div>
<div>
    <ejs-grid id="subsGrid" cellSelecting="true" allowPaging="true" toolbar="@(new List<string>() {" Edit","Update","Cancel","Search" })" enableAltRow="true">
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal" allowEditOnDblClick="true"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="SubId" headerText="Subject ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="SubName" headerText="Subject" type="string" width="120"></e-grid-column>
            <e-grid-column field="ClassTeacher" headerText="Teacher" width="150" editType="dropdownedit" edit="@(new {@params = new{dataSource = ViewBag.dropdownTeacher, fields= new {text= "ClassTeacher"}}})"></e-grid-column>
            <e-grid-column field="SubCode" headerText="Code" width="150"></e-grid-column>
            <e-grid-column field="SubjectExamName" headerText="Report Card Name" width="150"></e-grid-column>
            <e-grid-column field="SubType" headerText="Subject Type" width="150"></e-grid-column>
            <e-grid-column field="FeatureInReport" headerText="Show in Report Card" editType="booleanedit" displayAsCheckBox="true" width="150"></e-grid-column>
            <e-grid-column field="AutoGrades" visible="false" editType="booleanedit" displayAsCheckBox="true" headerText="Auto Grades" width="150"></e-grid-column>
            <e-grid-column field="GradeOrMarks" visible="false" headerText="Grade Or Marks" editType="booleanedit" displayAsCheckBox="true" width="150"></e-grid-column>
            <e-grid-column field="GradeType" visible="false" headerText="Grade Type" width="150"></e-grid-column>
            <e-grid-column field="IsElective" visible="false" headerText="Is Elective" editType="booleanedit" displayAsCheckBox="true" width="150"></e-grid-column>
            <e-grid-column field="IsTheory" visible="false" headerText="Is Theory" editType="booleanedit" displayAsCheckBox="true" width="150"></e-grid-column>
            <e-grid-column field="IsPract" visible="false" headerText="Is Pract" editType="booleanedit" displayAsCheckBox="true" width="150"></e-grid-column>
            <e-grid-column field="IsAssign" visible="false" headerText="Is Assign" editType="booleanedit" displayAsCheckBox="true" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

</div>

