@model SchMod.Models.Convey.VehicleDescription
@{
    ViewData["Title"] = "Create Vehicles with Description";
}
<hr />
<h4>Create Vehicle Description</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<div class="row">
            <div class="form-group col-md-3">
                <label asp-for="AutoId" class="control-label"></label>
            </div>
            <div class="form-group col-md-4">
                <input asp-for="AutoId" class="form-control" />
                <span asp-validation-for="AutoId" class="text-danger"></span>
            </div>
        </div>*@
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="VehicleName" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="VehicleName" class="form-control" />
            <span asp-validation-for="VehicleName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="VehicleType" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownListFor(model => model.VehicleType, (SelectList)ViewBag.dropdownVehType)
            @*<input asp-for="VehicleType" class="form-control" />*@
            <span asp-validation-for="VehicleType" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="VDriver" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="VDriver" class="form-control" />
            <span asp-validation-for="VDriver" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="VNumber" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="VNumber" class="form-control" />
            <span asp-validation-for="VNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="DriverAddress" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="DriverAddress" class="form-control" />
            <span asp-validation-for="DriverAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="DriverDetails" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="DriverDetails" class="form-control" />
            <span asp-validation-for="DriverDetails" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="VehicleDetails" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="VehicleDetails" class="form-control" />
            <span asp-validation-for="VehicleDetails" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="ContactPhone" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="ContactPhone" class="form-control" />
            <span asp-validation-for="ContactPhone" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Capacity" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="Capacity" class="form-control" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Circuit" class="control-label"></label>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="Circuit" class="form-control" />
            <span asp-validation-for="Circuit" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-3 ">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
